.contain-to-grid.full-top-bar
  %nav.top-bar(data-topbar)
    %section.top-bar-section
      %ul.left
        %li.name
          %h1= link_to "Git Logs", root_path
      %ul.right
        - if user_signed_in?
          %li= link_to "Signed in as #{current_user.username}", user_path(current_user)
          %li= link_to "Sign Out", session_path, method: :delete

        - else
          %li= link_to "Sign In With GitHub", new_session_path
